.about-company{
    background: transparent !important;
    position: relative;
    padding-top: 30px;
}

.about-company .graph-about{
    position: absolute;
    right: 0;
    top: 0;
}

.about-company .container .about-h1{
    font-size: 80px;
    background: linear-gradient(74deg, #C0A7E7 8.19%, #9CBEDE 78.01%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-company .container .about-text-items{
    width: 100%;
    max-width: 850px;
}

.about-company .container .about-text-items .about-button{
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 80px;
    border-radius: 25px;
    background:linear-gradient(74deg, #C0A7E7 8.19%, #9CBEDE 78.01%);
    padding: 20px 40px;
}

.count {
    font-size: inherit !important;
}

.discussion-items-mobile{
    display: none;
}

.projects .container .project-slider{
    margin-bottom: 20px;
}

.projects .container{
    padding-bottom: 20px;
}

.projects .container .projects-button{
    cursor: pointer;
}

.industries-mobile-list{
    display: none;
}

.project-modal {
    z-index: 1000;
    top: 33px;
    position: fixed;
    display: none;
    left: 33%;
    flex-direction: column;
    align-items: flex-end;
}

.project-modal svg {
    cursor:pointer;
}

.project-modal .modal-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 82px;
    background: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 24.8px;
    letter-spacing: 0.01em;
    text-align: left;
}
.project-modal .modal-content img {
    max-width: 600px;
}

.project-modal .modal-content .modal-text {
    max-height: 350px;
    overflow-y: scroll;
    padding: 20px;
}


