.pagination-items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.pagination-items input{
    color: #C0A7E7;
    border: 1px solid #C0A7E7;
    cursor: pointer;
    border-radius: 100px;
    outline: none;
    background-color: #fff;
    padding: 15px;
    font-weight: bold;
    font-size: 32px;
    margin-right: 30px;
}

.pagination-items .active{
    color: #fff;
    background: linear-gradient(to right, #C0A7E7,#9CBEDE );
}

.pagination-items .arrow-next{
    cursor: pointer;
}